body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
header {
    text-align: center;
}
#titre {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
main {
    margin-top: 20px;
}
p {
    font-size: 20px;
    margin: 0;
}
code {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}